*,*::after,*::before{

   
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    /* background-color: black; */
   
    font-size: 100%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    text-transform: capitalize;
    color: inherit;
    &::visited{
        color: inherit;
    }
}
.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;

}